@inherits LayoutComponentBase

<div class="sidebar">
    <nav>
        <ul>
            <li><a href="/employees">Сотрудники</a></li>
            <li><a href="/departments">Отделы</a></li>
            <li><a href="/workplaces">Рабочие места</a></li>
        </ul>
    </nav>
</div>
<div class="main">
    @Body
</div>
